# Data and Submissions
dataset/*.csv
*.csv
!sample_submission.csv
!submission.csv

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scratch
scratch/
